<form class="clr-form" (ngSubmit)="login()" novalidate #f="ngForm">
  <div class="clr-row">
    <div class="clr-col">
      <div class="form-group">
        <label for="email" class="clr-control-label">Email</label>
        <div class="clr-input-wrapper">
          <input class="clr-input" pattern="[a-zA-Z0-9]+" name="email" type="text" id="login_email" [(ngModel)]="userMaster.email"
            placeholder="Email" required><span>@purdue.edu</span>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col">
      <div class="form-group">
        <label for="password" class="clr-control-label">Password</label>
        <div class="clr-input-wrapper">
          <input class="clr-input" pattern="[a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9]+"
            name="password" type="password" id="login_password" [(ngModel)]="userMaster.password" autocomplete="new-password"
            placeholder="Password" required>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col">
      <div [hidden]="showPasswordWarning">
        <clr-alert [clrAlertType]="'info'" [clrAlertAppLevel]="false" [clrAlertClosable]="false">
          <div clr-alert-item class="alert-item">
            <span class="alert-text">
              Password must contian 8 characters and consist of letters or numbers.
            </span>
          </div>
        </clr-alert>
      </div>
      <div [hidden]="!loginFailed">
        <clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="false" [clrAlertClosable]="false">
          <div clr-alert-item class="alert-item">
            <span class="alert-text">
              {{loginFailed}}
            </span>
          </div>
        </clr-alert>
      </div>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col">
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Log In</button>
      <button type="button" class="btn btn-primary" (click)="openModal()">Create Account</button>
    </div>
  </div>
</form>

<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'xl'">
  <h3 class="modal-title">Create Account</h3>
  <div class="modal-body">

    <div [hidden]="!creationSuccess">
      <clr-alert [clrAlertType]="'success'" [clrAlertAppLevel]="false" [clrAlertClosable]="false">
        <div clr-alert-item class="alert-item">
          <span class="alert-text">
            {{creationSuccess}}
          </span>
        </div>
      </clr-alert>
    </div>

    <div [hidden]="!creationFailed">
      <clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="false" [clrAlertClosable]="false">
        <div clr-alert-item class="alert-item">
          <span class="alert-text" [innerHTML]='creationFailed'>
            <!--{{creationFailed}}-->
          </span>
        </div>
      </clr-alert>
    </div>

    <form class="clr-form" (ngSubmit)="create()" novalidate #g="ngForm">
      <div class="clr-row">
        <div class="clr-col">
          <div class="form-group">
            <label for="name" class="clr-control-label">Name</label>
            <div class="clr-input-wrapper">
              <input type="text" name="name" class="clr-input" id="name" [(ngModel)]="account.name" required>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col">
          <div class="form-group">
            <label for="email" class="clr-control-label">Email</label>
            <div class="clr-input-wrapper">
              <input type="text" pattern="[a-zA-Z0-9]+" name="email" class="clr-input" id="create_email" [(ngModel)]="account.email"
                required><span>@purdue.edu</span>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col">
          <div class="form-group">
            <label for="create_password1" class="clr-control-label">Password</label>
            <div class="clr-input-wrapper">
              <input class="password" pattern="[a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9]+"
                name="password1" type="password" id="create_password1" [(ngModel)]="account.password1" placeholder="Password"
                required>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col">
          <div class="form-group">
            <label for="create_password2" class="clr-control-label">Confirm Password</label>
            <div class="clr-input-wrapper">
              <input class="password" pattern="[a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9]+"
                name="password2" type="password" id="create_password2" [(ngModel)]="account.password2" placeholder="Password"
                required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div [hidden]="showPasswordWarning">
            <clr-alert [clrAlertType]="'info'" [clrAlertAppLevel]="false" [clrAlertClosable]="false">
              <div clr-alert-item class="alert-item">
                <span class="alert-text">
                  Password must contian 8 characters and consist of letters or numbers.
                </span>
              </div>
            </clr-alert>
          </div>
        </div>
      </div>

      <div class="clr-row">
        <div class="clr-col">
          <div class="form-group">
            <div class="btn-group" style="margin-top: 20px;">
              <button type="submit" class="btn btn-sm btn-primary" [disabled]="g.invalid">Create</button>
              <button type="button" class="btn btn-sm btn-primary" (click)="onCancel()">Cancel</button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</clr-modal>