<app-nav-bar></app-nav-bar>
<h3>Profile: {{profileMaster.name}}</h3>
<button class="btn btn-primary btn-sm" (click)="isOpen = !isOpen">Update Profile</button>
<div class="clr-row">
  <div class="clr-col-2">
    <span>Name:</span>
  </div>
  <div class="clr-col-2">
    <span>{{profileMaster.name}}</span>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-2">
    <span>Age:</span>
  </div>
  <div class="clr-col-2">
    <span>{{profileMaster.age}}</span>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-2">
    <span>Height:</span>
  </div>
  <div class="clr-col-2">
    <span>{{profileMaster.height}}</span>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-2">
    <span>Weight:</span>
  </div>
  <div class="clr-col-2">
    <span>{{profileMaster.weight}}</span>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-2">
    <span>BMI:</span>
  </div>
  <div class="clr-col-2">
    <span>{{profileMaster.bmi}}</span>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-2">
    <span>Bio:</span>
  </div>
  <div class="clr-col-2">
    <span>{{profileMaster.bio}}</span>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-2">
    <span>Status:</span>
  </div>
  <div class="clr-col-2">
    <span>{{profileStatus}}</span>
  </div>
</div>

<div class="clr-row" style="margin-top: 40px;">
  <span class="title">Workouts</span>
  <a class="more-link" (click)="workoutShow()">{{workoutButtonText}}</a>
</div>
<div class="clr-row">
  <div class="clr-col-6">
    <app-workout-list [workouts]="workouts"></app-workout-list>
  </div>
</div>
<div class="clr-row" style="margin-top: 40px;">
  <span class="title">Journals</span>
  <a class="more-link" (click)="journalShow()">{{journalButtonText}}</a>
</div>
<div class="clr-row">
  <div class="clr-col-6">
    <app-journal-list [journalEntries]="journalEntries">
    </app-journal-list>
  </div>
</div>
<div class="clr-row" style="margin-top: 40px;">
  <span class="title">Posts</span>
  <a class="more-link" (click)="postShow()">{{postButtonText}}</a>
</div>
<div class="clr-row">
  <div class="clr-col-12">
    <app-post-list [posts]="posts">
    </app-post-list>
  </div>
</div>

<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'xl'">
  <h3 class="modal-title">Profile</h3>
  <div class="modal-body">

    <div [hidden]="!updateFailed">
      <clr-alert [clrAlertType]="'danger'" [clrAlertAppLevel]="false" [clrAlertClosable]="false">
        <div clr-alert-item class="alert-item">
          <span class="alert-text">
            <span [innerHTML]="updateFailed"></span>
          </span>
        </div>
      </clr-alert>
    </div>

    <form class="clr-form" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
      <div class="clr-row">
        <div class="clr-col">
          <div class="form-group">
            <label for="name" class="clr-control-label">Name</label>
            <div class="clr-input-wrapper">
              <input type="text" name="name" class="clr-input" id="name" [(ngModel)]="profile.name" required>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col">
          <div class="form-group">
            <label for="age" class="clr-control-label">Age</label>
            <div class="clr-input-wrapper">
              <input type="number" name="age" pattern="[0-9][0-9]?[0-9]?" class="clr-input" id="age" [(ngModel)]="profile.age"
                required>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col">
          <div class="form-group">
            <label for="age" class="clr-control-label">Height (in)</label>
            <div class="clr-input-wrapper">
              <input type="number" name="height" pattern="[0-9][0-9]?[0-9]?" class="clr-input" id="height" [(ngModel)]="profile.height"
                required>
            </div>
          </div>
        </div>
        <div class="clr-col">
          <div class="form-group">
            <label for="weight" class="clr-control-label">Weight (lbs)</label>
            <div class="clr-input-wrapper">
              <input type="number" name="weight" pattern="[0-9][0-9]?[0-9]?" class="clr-input" id="weight" [(ngModel)]="profile.weight"
                required>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col">
          <div class="form-group">
            <label for="bio" class="clr-control-label">Bio</label>
            <div class="clr-textarea-wrapper">
              <textarea rows="10" style="width: 500px; resize: none;" clrTextarea [(ngModel)]="profile.bio" name="bio"
                required></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col">
          <div class="form-group">
            <label for="status" class="clr-control-label">Status</label>
            <div class="clr-select-wrapper">

              <select id="status" class="clr-select" [(ngModel)]="profile.status" name="status">
                <option value="0">Private</option>
                <option value="1">Friends Only</option>
                <option value="2">Public</option>
              </select>

            </div>
          </div>
        </div>
      </div>

      <div class="clr-row">
        <div class="clr-col">
          <div class="form-group">
            <div class="btn-group" style="margin-top: 20px;">
              <button type="submit" class="btn btn-sm btn-primary" [disabled]="f.invalid">Update</button>
              <button type="button" class="btn btn-sm btn-primary" (click)="onCancel()">Cancel</button>
            </div>
          </div>
        </div>
      </div>

    </form>

  </div>

</clr-modal>
