<app-nav-bar></app-nav-bar>
<body>
	<div id="workoutDashboard">
	<div style="height: 85%; width: 50%; position: fixed; top: 15%; overflow-x: hidden; padding-top: 20px; left: 0; text-align: center; border-left: 1px solid black;">
		<div style="text-align: center;">
			<h1>Planned Workouts</h1>
		</div>
		<button onclick="window.open('https://open.spotify.com/')" style="position: absolute; left: 25px; top: 0;">Spotify Login</button>
		<button onclick="addPost();" style="position: absolute; right: 0; top: 0;">New Post</button>
		<button onclick="newWorkout();">Create Your Workout</button>
		<table id="plannedWorkouts" style="width: 100%; text-align: center;"></table>
		<span id="noWorkoutsSpan" style="display: none;">No Workouts</span>
	</div>
	<div style="height: 85%; width: 50%; position: fixed; top: 15%; overflow-x: hidden; padding-top: 20px; right: 0; text-align: center; border-left: 1px solid black;">
		<div style="text-align: center;">
			<h1>Food Journals</h1>
			<button onclick="showFoodModal();">Create a Journal</button>
		</div>
		<table class="WorkoutTable" id="foodJournals" style="width: 100%; text-align: center;"></table>
		<span id="noFoodSpan" style="display: none;">No Food Journals</span>
	</div>
	</div>

	<div id="workoutDisplay" style="display: none;">
	<!--Left side, displays what the workout will contain-->
	<div style="height: 85%; width: 50%; position: fixed; top: 15%; overflow-x: hidden; padding-top: 20px; left: 0; text-align: center; border-left: 1px solid black;">
		<button onclick="submitWorkout();" style="position: absolute; left: 0; top: 0;">Submit Workout</button>
		<span id="showTags" style="position: absolute; left: 10px; top: 30px; display: none;"></span>
		<button onclick="showSpotifyModal();" style="position: absolute; right: 0; top: 0;">Add playlist</button>
		<input id="workoutName" placeholder="Workout Name"><br>
		<input id="workoutDate" onkeypress="return false;" type="date"><br>
		<span>Privacy: </span>
		<select id="workoutPrivacy" style="text-align: center;">
			<option value="public">Public</option>
			<option value="friend">Friends Only</option>
			<option value="private">Private</option>
		</select><br>
		<span id="workoutInfo">Your workout is currently empty</span>
	</div>
	<!--Right side, displays all the options-->
	<div style="height: 85%; width: 50%; position: fixed; top: 15%; overflow-x: hidden; padding-top: 20px; right: 0; border-left: 1px solid black;">
	<h2 style="text-align: center;"> What Will Your Workout include? </h2>
	<div id="ActivitySelection">
		<div style="text-align: center;">
			<button onclick="showHide('Fitness', 'ActivitySelection')">Fitness</button>
			<button onclick="showRepModal('Aquatics', 'activity', 'Aquatics');">Aquatics</button>
			<button onclick="showHide('Climbing', 'ActivitySelection')">Climbing</button>
		</div>
		<br>
		<div style="text-align: center;">
			<button onclick="showHide('Gyms', 'ActivitySelection')">Gyms/Courts</button>
			<button onclick="showRepModal('Other', 'activity', 'Other');">Other</button>
		</div>
		<br>
		<div style="text-align: center">
			<button onclick="if (confirm('Closing will discard changes, continue?')) {backToWorkouts();}">Back to Workouts</button>
		</div>
	</div>
	<!--=============Fitness==================================-->
	<div id="Fitness" style="text-align: center; display: none;">
		<button onclick="showHide('fitnessCardio', 'Fitness')">Cardio</button>
		<button onclick="showHide('fitnessStrength', 'Fitness')">Strength</button>
		<button onclick="showHide('fitnessFlexibility', 'Fitness')">Flexibility</button><br>
		<button onclick="showHide('ActivitySelection', 'Fitness')">Back to Activity Selection</button>
	</div>
	<div id="fitnessCardio" style="text-align: center; display: none;">
		<button onclick="showHide('fitnessCardioBike', 'fitnessCardio')">Bike</button>
		<button onclick="showHide('fitnessCardioCross', 'fitnessCardio')">Cross Trainer</button>
		<button onclick="showHide('fitnessCardioErg', 'fitnessCardio')">Erg</button>
		<button onclick="showHide('fitnessCardioRower', 'fitnessCardio')">Rower</button>
		<button onclick="showHide('fitnessCardioTreadmill', 'fitnessCardio')">Treadmill</button>
		<br>
		<button onclick="showHide('Fitness', 'fitnessCardio')">Back to Fitness</button>
	</div>
	<div id="fitnessStrength" style="text-align: center; display: none;">
		<button onclick="showHide('fitnessStrengthCable', 'fitnessStrength')">Cable Unit</button>
		<button onclick="showHide('fitnessStrengthMulti', 'fitnessStrength')">Multi-Unit</button>
		<button onclick="showHide('fitnessStrengthRope', 'fitnessStrength')">Rope Trainer</button>
		<button onclick="showHide('fitnessStrengthSelect', 'fitnessStrength')">Selectorized</button>
		<button onclick="showHide('fitnessStrengthStrength', 'fitnessStrength')">Strength</button>
		<br>
		<button onclick="showHide('Fitness', 'fitnessStrength')">Back to Fitness</button>
	</div>
	<div id="fitnessFlexibility" style="text-align: center; display: none;">
		<button onclick="showRepModal('Technogym Anterior', 'reps', 'Fitness');"><span class="Equipment">Technogym Anterior</span><br><span class="Location">Mezzanine (1); Pavillion (1)</span></button>
		<button onclick="showRepModal('Technogym Posterior', 'reps', 'Fitness');"><span class="Equipment">Technogym Posterior</span><br><span class="Location">Mezzanine (1); Pavillion (2)</span></button>
		<button onclick="showRepModal('TRUE Stretch Cage', 'reps', 'Fitness');"><span class="Equipment">TRUE Stretch Cage</span><br><span class="Location">Scifres (1); Mezzanine (1)</span></button>
		<br>
		<button onclick="showHide('Fitness', 'fitnessFlexibility')">Back to Flexibility</button>
	</div>
	<!--==========Cardio==================-->
	<div id="fitnessCardioBike" style="text-align: center; display: none;">
		<button onclick="showRepModal('Keiser', 'reps', 'Fitness');"><span class="Equipment">Keiser</span><br><span class="Location">Mezzanine East (8); Fac/Staff (2)</span></button>
		<button onclick="showRepModal('Life Fitness Recumbent', 'time', 'Fitness');"><span class="Equipment">Life Fitness Recumbent</span><br><span class="Location">Loft (3); Upper Fitness (1); Mezzanine (2); Fac/Staff (2)</span></button>
		<button onclick="showRepModal('Livestrong', 'activity', 'Fitness');"><span class="Equipment">Livestrong</span><br><span class="Location">Loft (6)</span></button>
		<button onclick="showRepModal('Matrix Recumbent', 'time', 'Fitness');"><span class="Equipment">Matrix Recumbent</span><br><span class="Location">Colby (10); Pavillion (3); Loft (1); Mezzanine East (2)</span></button>
		<button onclick="showRepModal('Matrix Upright', 'time', 'Fitness');"><span class="Equipment">Matrix Upright</span><br><span class="Location">Colby (9); Pavillion (2); Loft (4); Mezzanine (4)</span></button>
		<button onclick="showRepModal('Octane', 'time', 'Fitness');"><span class="Equipment">Octane</span><br><span class="Location">Pavilion(1)</span></button>
		<br>
		<button onclick="showHide('fitnessCardio', 'fitnessCardioBike')">Back to Cardio</button>
	</div>
	<div id="fitnessCardioCross" style="text-align: center; display: none;">
		<button onclick="showRepModal('Cybex', 'time', 'Fitness');"><span class="Equipment">Cybex</span><br><span class="Location">Colby (8); Uppser Fitness (4)</span></button>
		<button onclick="showRepModal('Matrix Ascent', 'time', 'Fitness');"><span class="Equipment">Matrix Ascent</span><br><span class="Location">Colby (3); Loft (3); Upper Fitness (3); Mezzanine (1); Mezzanine East (4)</span></button>
		<button onclick="showRepModal('Matrix Climbmill', 'time', 'Fitness');"><span class="Equipment">Matrix Climbmill</span><br><span class="Location">Pavillion (3); Upper Fitness (2)</span></button>
		<button onclick="showRepModal('Matrix Erg', 'time', 'Fitness');"><span class="Equipment">Matrix Erg</span><br><span class="Location">Colby (3)</span></button>
		<button onclick="showRepModal('Matrix Stepper', 'time', 'Fitness');"><span class="Equipment">Matrix Stepper</span><br><span class="Location">Colby (3); Loft (3);</span></button>
		<button onclick="showRepModal('Octane Elliptical', 'time', 'Fitness');"><span class="Equipment">Octane Elliptical</span><br><span class="Location">Colby (4); Loft (4); Upper Fitness (3); Mezzanine (4); Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Octane Lateral', 'time', 'Fitness');"><span class="Equipment">Octane Lateral</span><br><span class="Location">Pavillion (1); Loft (2)</span></button>
		<button onclick="showRepModal('Precor AMT', 'time', 'Fitness');"><span class="Equipment">Precor AMT</span><br><span class="Location">Colby (6); Pavillion (2); Loft (4); Upper Fitness (3); Mezzanine (1)</span></button>
		<button onclick="showRepModal('Precor EFX Elliptical', 'time', 'Fitness');"><span class="Equipment">Precor EFX Elliptical</span><br><span class="Location">Colby (6); Pavillion (3); Loft (2); Upper Fitness (2); Mezz (1); Fac/Staff (3)</span></button>
		<br>
		<button onclick="showHide('fitnessCardio', 'fitnessCardioCross')">Back to Cardio</button>
	</div>
	<div id="fitnessCardioErg" style="text-align: center; display: none;">
		<button onclick="showRepModal('Technogym', 'time', 'Fitness');"><span class="Equipment">Technogym</span><br><span class="Location">Loft(1)</span></button>
		<br>
		<button onclick="showHide('fitnessCardio', 'fitnessCardioErg')">Back to Cardio</button>
	</div>
	<div id="fitnessCardioRower" style="text-align: center; display: none;">
		<button onclick="showRepModal('Concept 2', 'time', 'Fitness');"><span class="Equipment">Concept 2</span><br><span class="Location">Colby (8); Mezzanine (3); Mezzanine East (2); Fac/Staff (1)</span></button>
		<br>
		<button onclick="showHide('fitnessCardio', 'fitnessCardioRower')">Back to Cardio</button>
	</div>
	<div id="fitnessCardioTreadmill" style="text-align: center; display: none;">
		<button onclick="showRepModal('Life Fitness', 'time', 'Fitness');"><span class="Equipment">Life Fitness</span><br><span class="Location">Pavillion (5); Loft (4); Upper Fitness (1)</span></button>
		<button onclick="showRepModal('Matrix', 'time', 'Fitness');"><span class="Equipment">Matrix</span><br><span class="Location">Colby (10); Pavillion (2); Loft (3); Upper Fitness (2)</span></button>
		<button onclick="showRepModal('Precor', 'time', 'Fitness');"><span class="Equipment">Precor</span><br><span class="Location">Colby (10); Upper Fitness (1); Fac/Staff (2)</span></button>
		<button onclick="showRepModal('Woodway', 'time', 'Fitness');"><span class="Equipment">Woodway</span><br><span class="Location">Colby (10); Pavillion (3); Loft (7); Upper Fitness (3); Woodway (3)</span></button>
		<button onclick="showRepModal('Woodway Curve', 'time', 'Fitness');"><span class="Equipment">Woodway Curve</span><br><span class="Location">Mezzanine (4)</span></button>
		<br>
		<button onclick="showHide('fitnessCardio', 'fitnessCardioTreadmill')">Back to Cardio</button>
	</div>
	<!--=============Strength==================================-->
	<div id="fitnessStrengthCable" style="text-align: center; display: none;">
		<button onclick="showRepModal('Life Fitness Multi-Jungle', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Multi-Jungle</span><br><span class="Location">Pavillion (1); Colby (2)</span></button>
		<button onclick="showRepModal('Technogym Kinesis One', 'reps', 'Fitness');"><span class="Equipment">Technogym Kinesis One</span><br><span class="Location">Pavillion (2); Scifres (2)</span></button>
		<button onclick="showRepModal('Technogym Step/Squat', 'reps', 'Fitness');"><span class="Equipment">Technogym Step/Squat</span><br><span class="Location">Upper Fitness (1)</span></button>
		<button onclick="showRepModal('Technogym Core', 'reps', 'Fitness');"><span class="Equipment">Technogym Core</span><br><span class="Location">Upper Fitness (1)</span></button>
		<button onclick="showRepModal('Technogym Overhead Press', 'reps', 'Fitness');"><span class="Equipment">Technogym Overhead Press</span><br><span class="Location">Upper Fitness (1)</span></button>
		<button onclick="showRepModal('Technogym Press', 'reps', 'Fitness');"><span class="Equipment">Technogym Press</span><br><span class="Location">Upper Fitness (1)</span></button>
		<button onclick="showRepModal('Technogym High Pull', 'reps', 'Fitness');"><span class="Equipment">Technogym High Pull</span><br><span class="Location">Upper Fitness (1)</span></button>
		<button onclick="showRepModal('Technogym Lat Pulldown', 'reps', 'Fitness');"><span class="Equipment">Technogym Lat Pulldown</span><br><span class="Location">Upper Fitness (1)</span></button>
		<button onclick="showRepModal('Life Fitness Dual Cable Cross', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Dual Cable Cross</span><br><span class="Location">Scifres (2)</span></button>
		<button onclick="showRepModal('Life Fitness Dual Adjustable Pulleys', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Dual Adjustable Pulleys</span><br><span class="Location">Scifres (4)</span></button>
		<br>
		<button onclick="showHide('fitnessStrength', 'fitnessStrengthCable')">Back to Strength</button>
	</div>
	<div id="fitnessStrengthMulti" style="text-align: center; display: none;">
		<button onclick="showRepModal('Life Fitness Synergy', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Synergy</span><br><span class="Location">Mezzanine (1)</span></button>
		<button onclick="showRepModal('Dynamic Functional Rig', 'reps', 'Fitness');"><span class="Equipment">Dynamic Functional Rig</span><br><span class="Location">East (1)</span></button>
		<br>
		<button onclick="showHide('fitnessStrength', 'fitnessStrengthMulti')">Back to Strength</button>
	</div>
	<div id="fitnessStrengthRope" style="text-align: center; display: none;">
		<button onclick="showRepModal('Marpo Dial VMX Rope', 'reps', 'Fitness');"><span class="Equipment">Marpo Dial VMX Rope</span><br><span class="Location">Fac/Staff (1)</span></button>
		<br>
		<button onclick="showHide('fitnessStrength', 'fitnessStrengthRope')">Back to Strength</button>
	</div>
	<div id="fitnessStrengthSelect" style="text-align: center; display: none;">
		<button onclick="showRepModal('Life Fitness Hip Abductor', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Hip Abductor</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Life Fitness Hip Adductor', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Hip Adductor</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Life Fitness Abdominal', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Abdominal</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Life Fitness Seated Leg Curl', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Seated Leg Curl</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Life Fitness Leg Extension', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Leg Extension</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Life Fitness Seated Leg Press', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Seated Leg Press</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Life Fitness Torso', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Torso</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Life Fitness Lat Pulldown', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Lat Pulldown</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Life Fitness Shoulder Press', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Shoulder Press</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Life Fitness Row/Rear Delt', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Row/Rear Delt</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Life Fitness Chest Press', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Chest Press</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Life Fitness Back Extension', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Back Extension</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Life Fitness Biceps Curl', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Biceps Curl</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Life Fitness Triceps Press', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Triceps Press</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Life Fitness Lateral Raise', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Lateral Raise</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Technogym Row', 'reps', 'Fitness');"><span class="Equipment">Technogym Row</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal('Technogym Chest Press', 'reps', 'Fitness');"><span class="Equipment">Technogym Chest Press</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal('Technogym Shoulder Press', 'reps', 'Fitness');"><span class="Equipment">Technogym Shoulder Press</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal('Technogym Leg Extension', 'reps', 'Fitness');"><span class="Equipment">Technogym Leg Extension</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal('Technogym Leg Press', 'reps', 'Fitness');"><span class="Equipment">Technogym Leg Press</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal('Technogym Leg Curl', 'reps', 'Fitness');"><span class="Equipment">Technogym Leg Curl</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal('Technogym Pec Fly', 'reps', 'Fitness');"><span class="Equipment">Technogym Pec Fly</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal('Technogym Lat Pulldown', 'reps', 'Fitness');"><span class="Equipment">Technogym Lat Pulldown</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal('Technogym Back Extension', 'reps', 'Fitness');"><span class="Equipment">Technogym Back Extension</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal('Technogym Hip Abduction', 'reps', 'Fitness');"><span class="Equipment">Technogym Hip Abduction</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal('Technogym Hip Adduction', 'reps', 'Fitness');"><span class="Equipment">Technogym Hip Adduction</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal('Technogym Bicep Curl', 'reps', 'Fitness');"><span class="Equipment">Technogym Bicep Curl</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal('Technogym Triceps Extension', 'reps', 'Fitness');"><span class="Equipment">Technogym Triceps Extension</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal('Technogym Abdominal Crunch', 'reps', 'Fitness');"><span class="Equipment">Technogym Abdominal Crunch</span><br><span class="Location">Pavilion (1)</span></button>
		<button onclick="showRepModal('Matrix Glute', 'reps', 'Fitness');"><span class="Equipment">Matrix Glute</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal('Matrix Pec Fly', 'reps', 'Fitness');"><span class="Equipment">Matrix Pec Fly</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal('Matrix Bicep Curl', 'reps', 'Fitness');"><span class="Equipment">Matrix Bicep Curl</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal('Matrix Triceps Press', 'reps', 'Fitness');"><span class="Equipment">Matrix Triceps Press</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal('Matrix Shoulder Press', 'reps', 'Fitness');"><span class="Equipment">Matrix Shoulder Press</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal('Matrix Back Extension', 'reps', 'Fitness');"><span class="Equipment">Matrix Back Extension</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal('Matrix Lateral Raise', 'reps', 'Fitness');"><span class="Equipment">Matrix Lateral Raise</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal('Matrix Rotary Torso', 'reps', 'Fitness');"><span class="Equipment">Matrix Rotary Torso</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal('Matrix Lat Pulldown', 'reps', 'Fitness');"><span class="Equipment">Matrix Lat Pulldown</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal('Matrix Seated Row', 'reps', 'Fitness');"><span class="Equipment">Matrix Seated Row</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal('Matrix Chest Press', 'reps', 'Fitness');"><span class="Equipment">Matrix Chest Press</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal('Matrix Abdominal Crunch', 'reps', 'Fitness');"><span class="Equipment">Matrix Abdominal Crunch</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal('Matrix Hip Abductor', 'reps', 'Fitness');"><span class="Equipment">Matrix Hip Abductor</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal('Matrix Hip Adductor', 'reps', 'Fitness');"><span class="Equipment">Matrix Hip Adductor</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal('Matrix Leg Extension', 'reps', 'Fitness');"><span class="Equipment">Matrix Leg Extension</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal('Matrix Seated Leg Curl', 'reps', 'Fitness');"><span class="Equipment">Matrix Seated Leg Curl</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal('Matrix Prone Curl', 'reps', 'Fitness');"><span class="Equipment">Matrix Prone Curl</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal('Matrix Leg Press', 'reps', 'Fitness');"><span class="Equipment">Matrix Leg Press</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal('Matrix Calf Extension', 'reps', 'Fitness');"><span class="Equipment">Matrix Calf Extension</span><br><span class="Location">Colby (1)</span></button>
		<br>
		<button onclick="showHide('fitnessStrength', 'fitnessStrengthSelect')">Back to Strength</button>
	</div>
	<div id="fitnessStrengthStrength" style="text-align: center; display: none;">
		<button onclick="showRepModal('Hammer Strength Half-Racks', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Half-Racks</span><br><span class="Location">East Fitness (6)</span></button>
		<button onclick="showRepModal('Matrix Dual-Racks', 'reps', 'Fitness');"><span class="Equipment">Matrix Dual-Racks</span><br><span class="Location">East Fitness (5)</span></button>
		<button onclick="showRepModal('Life Fitness Adjustable Bench', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Adjustable Bench</span><br><span class="Location">Fac/Staff (1)</span></button>
		<button onclick="showRepModal('Hammer Strength Adjustable Bench', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Adjustable Bench</span><br><span class="Location">Colby (11); Pavillion (2)</span></button>
		<button onclick="showRepModal('Hammer Strength Incline Press', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Incline Press</span><br><span class="Location">East (3)</span></button>
		<button onclick="showRepModal('Hammer Strength Military Press', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Military Press</span><br><span class="Location">East (3)</span></button>
		<button onclick="showRepModal('Life Fitness Adjustable Dip/Chin', 'reps', 'Fitness');"><span class="Equipment">Life Fitness Assisted Dip/Chin</span><br><span class="Location">East (1)</span></button>
		<button onclick="showRepModal('Hammer Strength Chin, Dip, Leg Raises', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Chin, Dip, Leg Raises</span><br><span class="Location">East (2)</span></button>
		<button onclick="showRepModal('Hammer Strength Ground Base Jammer', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Ground Base Jammer</span><br><span class="Location">East (2)</span></button>
		<button onclick="showRepModal('Hammer Strength MTS V-Squat', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength MTS V-Squat</span><br><span class="Location">East (2)</span></button>
		<button onclick="showRepModal('Hammer Strength Leg Press', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Leg Press</span><br><span class="Location">East (2)</span></button>
		<button onclick="showRepModal('Hammer Strength Iso-Lateral Leg Press', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Iso-Lateral Leg Press</span><br><span class="Location">East (1)</span></button>
		<button onclick="showRepModal('Hammer Strength Super Horizontal Calf', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Super Horizontal Calf</span><br><span class="Location">East (1)</span></button>
		<button onclick="showRepModal('Hammer Strength Flat Bench Press', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Flat Bench Press</span><br><span class="Location">East (10)</span></button>
		<button onclick="showRepModal('Hammer Strength Decline Bench Press', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Decline Bench Press</span><br><span class="Location">East (1)</span></button>
		<button onclick="showRepModal('Hammer Strength Glute/Hamstring Raise', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Glute/Hamstring Raise</span><br><span class="Location">East (1)</span></button>
		<button onclick="showRepModal('Hammer Strength Back Extensions', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Back Extensions</span><br><span class="Location">East (2)</span></button>
		<button onclick="showRepModal('Hammer Strength Seated Calf', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Seated Calf</span><br><span class="Location">East (1)</span></button>
		<button onclick="showRepModal('Hammer Strength Mountain Decline Press', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Mountain Decline Press</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal('Hammer Strength Mountain Incline Press', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Mountain Incline Press</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal('Hammer Strength Flat Bench', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Flat Bench</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal('Hammer Strength Smith Machine', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Smith Machine</span><br><span class="Location">Colby (1)</span></button>
		<button onclick="showRepModal('Hammer Strength Preacher Curls', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Preacher Curls</span><br><span class="Location">Colby (2)</span></button>
		<button onclick="showRepModal('Hammer Strength Decline to Ab Bench', 'reps', 'Fitness');"><span class="Equipment">Hammer Strength Decline to Ab Bench</span><br><span class="Location">Colby (3)</span></button>
		<br>
		<button onclick="showHide('fitnessStrength', 'fitnessStrengthStrength')">Back to Strength</button>
	</div>

	<!--================Climbing================================-->
	<div id="Climbing" style="text-align: center; display: none;">
		<button onclick="showRepModal('Climbing Wall', 'activity', 'Climbing');"><span class="Equipment">Climbing Wall</span><br><span class="Location">Basement</span></button>
		<button onclick="showRepModal('Bouldering Wall', 'activity', 'Climbing');"><span class="Equipment">Bouldering Wall</span><br><span class="Location">Basement</span></button>
		<br>
		<button onclick="showHide('ActivitySelection', 'Climbing')">Back to Activity Selection</button>
	</div>
	<!--===========Gyms/Courts====================================-->
	<div id="Gyms" style="text-align: center; display: none;">
		<button onclick="showRepModal('Badminton/Volleyball', 'activity', 'Gyms/Courts');"><span class="Equipment">Badminton/Volleyball</span><br><span class="Location">Basement</span></button>
		<button onclick="showRepModal('Racquetball/Handball/Wallyball', 'activity', 'Gyms/Courts');"><span class="Equipment">Racquetball/Handball/Wallyball</span><br><span class="Location">Basement</span></button>
		<button onclick="showRepModal('Basketball/Volleyball (Feature Gym)', 'activity', 'Gyms/Courts');"><span class="Equipment">Basketball/Volleyball (Feature Gym)</span><br><span class="Location">Level 1</span></button>
		<button onclick="showRepModal('Basketball/Volleyball (Gold and Black Gym)', 'activity', 'Gyms/Courts');"><span class="Equipment">Basketball/Volleyball (Gold and Black Gym)</span><br><span class="Location">Level 1</span></button>
		<button onclick="showRepModal('Racquetball/Handball/Wallyball', 'activity', 'Gyms/Courts');"><span class="Equipment">Racquetball/Handball/Wallyball</span><br><span class="Location">Level 2</span></button>
		<button onclick="showRepModal('Squash', 'activity', 'Gyms/Courts');"><span class="Equipment">Squash</span><br><span class="Location">Level 2</span></button>
		<button onclick="showRepModal('Multi-Activity Court: Indoor Soccer/Hockey', 'activity', 'Gyms/Courts');"><span class="Equipment">Multi-Activity Court: Indoor Soccer/Hockey</span><br><span class="Location">Level 3</span></button>
		<button onclick="showRepModal('Basketball/Volleyball/Badminton', 'activity', 'Gyms/Courts');"><span class="Equipment">Basketball/Volleyball/Badminton</span><br><span class="Location">Level 3</span></button>
		<button onclick="showRepModal('Indoor Turf Facility', 'activity', 'Gyms/Courts');"><span class="Equipment">Indoor Turf Facility</span><br><span class="Location">TREC</span></button>
		<br>
		<button onclick="showHide('ActivitySelection', 'Gyms')">Back to Activity Selection</button>
	</div>
	<!--End right side div-->
</div>
</div>

<!--Modal(s)-->
<div id="editDeleteModal" style="display: none; position: fixed; z-index: 1; padding-top: 100px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);">
	<div style="background-color: #fefefe; margin: auto; padding: 20px; border: 1px solid #888; width: 50%;">
		<span class="close" onclick="hideEditDeleteModal();" onHover="cursor: pointer;" style="color: #aaaaaa; float: right; font-size: 20px; font-weight: bold;">&times;</span>
		<div style="text-align: center;">
			<div id="workoutEditDiv" style="display: none;">
				<h2 id="toEditDeleteName"></h2><br>
				<button id="loadWorkoutButton">View</button>&nbsp;
				<button id="addToPostButton">Add to Post</button>&nbsp;
				<button id="deleteWorkoutButton">Delete</button>
			</div>
			<div id="foodEditDiv" style="display: none;">
				<h2 id="toEditDeleteFoodName"></h2>
				<h3 id="toEditDeleteFoodDate"></h3>
				<textarea id="displayJournal" style="resize: none;"></textarea>
				<button id="updateJournal">Update</button>&nbsp;
				<button id="addFoodToPostButton">Add to Post</button>&nbsp;
				<button id="deleteFoodJournalButton">Delete</button>
			</div>
		</div>
	</div>
</div>
<div id="foodModal" style="display: none; position: fixed; z-index: 1; padding-top: 100px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);">
	<div style="background-color: #fefefe; margin: auto; padding: 20px; border: 1px solid #888; width: 50%;">
		<span class="close" onclick="hideFoodModal();" onHover="cursor: pointer;" style="color: #aaaaaa; float: right; font-size: 20px; font-weight: bold;">&times;</span>
		<div style="text-align: center;">
			<input id="foodName" placeholder="Journal Name"><br>
			<input id="foodDate" type="date">
			<textarea id="foodJournalText" placeholder="What did you eat today?" style="resize: none;"></textarea>
			<select id="foodPrivacy" style="text-align: center;">
				<option value="public">Public</option>
				<option value="friend">Friends Only</option>
				<option value="private">Private</option>
			</select><br>
			<button onclick="submitFoodJournal();">Submit</button>
		</div>
	</div>
</div>

<div id="repModal" style="display: none; position: fixed; z-index: 1; padding-top: 100px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);">
	<div style="background-color: #fefefe; margin: auto; padding: 20px; border: 1px solid #888; width: 50%;">
		<div>
			<h2 style="text-align: center;"> How Much Will Your Workout Include? </h2>
			<h3 style="text-align: center;" id="ChosenExercise"></h3>
			<!--Will have to adjust width if font is changed, also prob not best idea to keep static value, update as screen changes-->
			<div style="position: relative; width: 350px; margin-left: auto; margin-right: auto;">
			<div style="display: inline-block; vertical-align: top; text-align: right;">
				<span id="numReps" style="display: none;">Number of Reps: </span>
				<span id="timeSpent" style="display: none;">Time Spent: </span>
				<span id="activity" style="display: none;">Facility will be used for:</span>
			</div>
			<div style="display: inline-block;">
				<!--Figure out why blocking keycode wasn't/isn't working-->
				<input id="reps" type="number" name="reps" style="display: none;">
				<input id="timeHours" type="number" name="timeHours" style="display: none;">
				<input id="timeMinutes" type="number" name="timeMinutes" style="display: none;">
				<input id="activityInput" type="text" name="activityInput" style="display: none;">
			</div>
			<div style="display: inline-block;">
				<span id="textHours" style="display: none;">Hours</span>
				<span id="textMinutes" style="display: none;">Minutes</span>
			</div>
		</div>
		<br>
		<div style="text-align: center;">
			<button onclick="addToWorkoutInfo();">Add to Workout</button>
		</div>
		</div>
	</div>
</div>
<div id="spotifyModal" style="display: none; position: fixed; z-index: 1; padding-top: 100px; left: 0; top: 0; padding-bottom: 100px; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);">
	<div style="background-color: #fefefe; margin: auto; padding: 20px; border: 1px solid #888; width: 70%;">
		<span class="close" onclick="hideSpotifyModal();" onHover="cursor: pointer;" style="color: #aaaaaa; float: right; font-size: 20px; font-weight: bold;">&times;</span>
		<div id="spotifyPlaylists" style="text-align: center;">
			<h2>Copy Spotify URL below</h2>
			<input id="spotifyURL" placeholder="Copy and paste your spotify URL here" style="width: 60%;">&nbsp;
			<button onclick="window.open('https://open.spotify.com/collection/playlists')" style="position: relative; right: 0; top: 0;">Manage Playlists</button><br>
			<button onclick="addPlaylist();">Submit</button>
		</div>
	</div>
</div>
<div id="postModal" style="display: none; position: fixed; z-index: 1; padding-top: 100px; left: 0; top: 0; padding-bottom: 100px; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);">
	<div style="background-color: #fefefe; margin: auto; padding: 20px; border: 1px solid #888; width: 50%;">
		<span class="close" onclick="if(confirm('Closing will discard changes, continue?')){hidePostModal();}" onHover="cursor: pointer;" style="color: #aaaaaa; float: right; font-size: 20px; font-weight: bold;">&times;</span>
		<div style="text-align: center;">
			<input id="postName" placeholder="Post Title">
			<textarea id="postText" placeholder="What's going on?" style="resize: none;"></textarea><br>
			<div id="postDisable" class="disabled">
			<div style="display: inline-block;">
			<button id="postWorkoutButton" onclick="document.getElementById('workoutDropdown').style.visibility='visible';">Add Workout</button> <br>
			<select id="workoutDropdown" style="visibility: hidden;"></select>
			</div>
			&nbsp;
			<div style="display: inline-block;">
			<button id="postFoodButton" onclick="document.getElementById('foodDropdown').style.visibility='visible';">Add Food Journal</button> <br>
			<select id="foodDropdown" style="visibility: hidden;"></select>
			</div>
			</div>
			&nbsp;
			<div style="display: inline-block;">
			<span style="position: relative; top: -7px;">Privacy</span><br>
			<select id="postPrivacy" onchange="postPrivacySelection();">
				<option value="">Select</option>
				<option value="public">Public</option>
				<option value="friend">Friends Only</option>
			</select>
			</div>
			<br>
			<input type="hidden" id="postWorkoutDate">
			<input type="hidden" id="postFoodDate">
			<button onclick="submitPost();">Post</button>
		</div>
	</div>
</div>
<div id="spotifyToast">Playlist Added</div>
</body>
