<div class="clr-row">
  <div *ngFor="let workout of workouts" class="clr-col-4">
    <span class="entry label label-info" (click)="clickWorkout(workout)">{{workout.wName}}</span>
  </div>
</div>

<clr-modal [(clrModalOpen)]="currentWorkout" [clrModalClosable]="false" [clrModalSize]="'md'">
  <h3 class="modal-title">Workout</h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col">
        <span>Title: {{currentWorkout?.wName}}</span>
      </div>
      <div class="clr-col">
        <span>Date: {{currentWorkout?.date}}</span>
      </div>
      <div class="clr-col">
        <span>Status: {{workoutStatus}}</span>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col">
        <span>Playlist URL: {{currentWorkout?.url}}</span>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col">
        <span>Exercises: </span>
      </div>
    </div>
    <div class="clr-row" *ngFor="let key of arrayOfKeys">
      <div class="clr-col">
        <span>{{key}} : {{currentWorkout?.exercises[key]}}</span>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col">
        <span>Tags: <span *ngFor="let tag of currentWorkout?.tags">{{tag}} </span></span>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col">
        <div class="form-group">
          <div class="btn-group" style="margin-top: 20px;">
            <button type="button" class="btn btn-sm btn-primary" (click)="onClose()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</clr-modal>