<app-nav-bar></app-nav-bar>

<h3>Looking at {{user$}}'s Profile: {{profileFriend.name}}</h3>

<div *ngIf="isFriend">
  <p>This person is your friend</p>
  <div>
    <button class="btn btn-sm"
            disabled>Add Friend</button>
  </div>
</div>

<div *ngIf="!isFriend">
  <p>This person is NOT your friend</p>
  <div *ngIf="friendReqSent">
    <button class="btn btn-sm"
            disabled>Add Friend</button>
  </div>
  <div *ngIf="!friendReqSent">
    <button class="btn btn-sm"
          (click)="sendFriendRequest()">Add Friend</button>
  </div>
</div>

<div *ngIf="friendReqSent">
</div>


<div *ngIf="!canViewBio">
  <p>This bio is private!</p>
</div>

<div *ngIf="canViewBio">
  <br>
  <div class="clr-row">
    <div class="clr-col-2">
      <span>Name:</span>
    </div>
    <div class="clr-col-2">
      <span>{{profileFriend.name}}</span>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-2">
      <span>Age:</span>
    </div>
    <div class="clr-col-2">
      <span>{{profileFriend.age}}</span>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-2">
      <span>Height:</span>
    </div>
    <div class="clr-col-2">
      <span>{{profileFriend.height}}</span>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-2">
      <span>Weight:</span>
    </div>
    <div class="clr-col-2">
      <span>{{profileFriend.weight}}</span>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-2">
      <span>BMI:</span>
    </div>
    <div class="clr-col-2">
      <span>{{profileFriend.bmi}}</span>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-2">
      <span>Bio:</span>
    </div>
    <div class="clr-col-2">
      <span>{{profileFriend.bio}}</span>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-2">
      <span>Status:</span>
    </div>
    <div class="clr-col-2">
      <span>{{profileStatus}}</span>
    </div>
  </div>
</div>

<div class="clr-row" style="margin-top: 40px;">
  <span class="title">Workouts</span>
  <a class="more-link" (click)="workoutShow()">{{workoutButtonText}}</a>
</div>

<div class="clr-row">
  <div class="clr-col-6">
    <app-workout-list [workouts]="workouts"></app-workout-list>
  </div>
</div>

<div class="clr-row" style="margin-top: 40px;">
  <span class="title">Journals</span>
  <a class="more-link" (click)="journalShow()">{{journalButtonText}}</a>
</div>

<div class="clr-row">
  <div class="clr-col-6">
    <app-journal-list [journalEntries]="journalEntries">
    </app-journal-list>
  </div>
</div>

<div class="clr-row" style="margin-top: 40px;">
  <span class="title">Posts</span>
  <a class="more-link" (click)="postShow()">{{postButtonText}}</a>
</div>

<div class="clr-row">
  <div class="clr-col-12">
    <app-post-list [posts]="posts">
    </app-post-list>
  </div>
</div>
