<p>Welcome to GymBuddy! Thanks for signing up. Please follow this link to activate your account:</p>
<p><a href="{{ confirm_url }}">Verify your email</a></p></p>
<br>
<p>P.S. - This link will expire in 1 day. If expired, please register again.</p>
<p>Cheers!</p>
<br>
<p>If you didn't sign up, please email us back and also check out our website!</p>