<p>Welcome to GymBuddy! Looks like we ran into a bit of a pickle</p>
<br>
<p><a href="http://18.191.214.116/login">Click me!</a></p></p>
<br>
<p>Please click this to go to our site.</p>
<p>Cheers!</p>
