<div *ngFor="let posting of posts" class="clr-row">
  <div class="clr-col-3">
  </div>
  <div class="clr-col-6">
    <div class="card">
      <div class="card-block">
        <div>
          <h3 style="display: inline-block;" class="card-title">{{posting.pName}}</h3><span style="margin-left: 20px">{{posting.email}}</span><span style="margin-left: 20px">{{posting.date}}</span>
        </div>
        <p class="card-text">
          {{posting.entry}}
        </p>
        <app-workout-list [workouts]="posting.workout"></app-workout-list>
        <div class="clr-row" style="margin-top: 10px;"></div>
        <app-journal-list [journalEntries]="posting.diet"></app-journal-list>
      </div>
    </div>
  </div>
</div>
